.Destacados{
    
    text-align: center;
    color: aliceblue;
		font-family: "Raleway", sans-serif;
		font-optical-sizing: auto;
		font-weight: 500;
    margin: 2rem;
    font-size: 1rem;
    padding-bottom: 1rem;
    border-bottom:1px rgb(99, 93, 93) solid;
}